@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    background-color: rgba(72, 163, 0, 0.1);
}

.title {
    cursor: default;
    text-align: center;
    font-size: 64px;
    color: rgba(72, 163, 0, 1);
}

.title>span {
    color: rgba(97, 72, 28, 1);
    ;
}

.no-select::selection {
    background-color: transparent;
}

.app-container {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: rgb(251, 251, 251, 1);
    max-width: 660px;
    /* margin: 0 auto; */
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 42px;
}

.sun-icon {
    vertical-align: middle;
    margin-left: 16px;
    animation: rotate 12s linear infinite;
}

.sun-face {
    width: 20px;
    vertical-align: middle;
    position: relative;
    left: -40px;
}

.image-container {
    position: relative;
    display: inline;
}

main {
    margin: 16px;
    /* padding-bottom: 52px; */
}

.instruction {
    color: #858586;
    margin-bottom: 18px;
}

.progress-bar {
    overflow: hidden;
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 20px;
}

.progress {
    height: 100%;
    overflow: hidden;
    width: 0%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding-left: 40px;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
}

.goal-count-statement {
    visibility: hidden;
}

.error-label {
    margin-top: 18px;
    color: red;
    font-size: 14px;

}

.goal-container {
    margin-top: 20px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 82px;
    display: flex;
    align-items: center;
    margin-bottom: 46px;

}

.checkbox {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(203, 203, 203);
    margin-left: 20px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

}

.goal-input {
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(90, 90, 90);
    width: 85%;
    overflow: hidden;

}

.goal-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.quote {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.credits {
    text-align: center;
    font-size: 10px;
    margin-bottom: 52px;
}

.tick {
    margin: 0;
    padding: 0;
    width: 25px;
    vertical-align: middle;
}

.vis {
    visibility: hidden;
    transition: all 0.3s ease;
}

.green-bg {
    overflow: hidden;
    border-radius: 50%;
    border-color: rgba(72, 163, 0, 1);
    background-color: rgba(72, 163, 0, 1);
}

.complete {
    color: rgba(72, 163, 0, 1);
    text-decoration: underline;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    .subtitle {
        font-size: 22px;
    }

    .app-container {
        padding: 16px 25px;
    }

    .sun-icon {
        margin-left: 8px;
        width: 35px;
    }

    .goal-container {
        margin-bottom: 35px;
        /*  */
        height: 65px;
        /*  */
    }

    .progress,
    .progress-bar {
        height: 20px;
    }

    .progress {
        font-size: 12px;
        padding-left: 20px;
    }

    .error-label {
        font-size: 12px;
        font-weight: 400;
    }

    .goal-input {
        width: 65%;
    }

    .sun-face {
        width: 11px;
        left: -28px;
    }

}

@media (max-width:360px) {
    .progress {
        font-size: 9px;
        padding-left: 10px;
    }
}